[Unit]
Description=prometheus-openstack-exporter
#After=network.target
After=network.target neutron-server.service apache2.service

[Service]
EnvironmentFile=/etc/default/prometheus-openstack-exporter
ExecStart=/bin/sh -c '. $NOVARC; exec /opt/prometheus-openstack-exporter/prometheus-openstack-exporter $CONFIG_FILE'
KillMode=process

[Install]
WantedBy=multi-user.target
